
{% extends 'web_base.html' %}

{% block title %} Fico {% endblock %}

{% load static %}

{% block linkcss %}
<!--For Home-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="{% static 'website/css/home.css' %}" />

{% endblock %}


{% block content %}
<section class="artical hero-section" style="background-color: rgba(255, 255, 0, .2);">
    <div class="hero-container">
        <div class="banner-box">
            <div class="swiper banner-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="{% url 'product_list' %}">
                            <img class="desktop" src="{% static 'website/images/banner/banner-web.png' %}" alt="Fico">
                            <img class="mobile" src="{% static 'website/images/banner/banner-mobile.png' %}" alt="Fico">
                        </a>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>



<section class="category-featured best-sellers discover_our_products">
    <div class="container-fluid">
        <div class="category-box">
            <div class="best-sellers-text">
                <h3 class="sub-title">Discover Our Products</h3>
            </div>
            <div class="category-list best-sellers-list">
                {% for product in featured_products %}
                    <div class="category-item">
                        <a href="{% url 'products_details' product.product_slug %}" rel="noopener noreferrer">
                            <img src="/media/{{ product.product_image }}" alt="{{ product.product_name }}">

                        </a>
                        <div class="item-text">
                            <p><a href="{% url 'products_details' product.product_slug %}">{{ product.product_name }}</a></p>
                            <p style="text-align: center;">{{ product.current_price.currency.currency_icon }} {{ product.current_price.sale_price }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block linkScript %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{% static 'js/event.js' %}"></script>

<script>
    var swiper = new Swiper(".newCollections", {
        slidesPerView: "auto",
        spaceBetween: 15,
        autoplay: {
            delay: 5500,
            disableOnInteraction: false,
        },
    });
</script>
{% endblock %}